{{#if videos.drafts}}
<div class="grid-r">
	<div class="grid-c-7-10">
		<div class="wrapper">
			<hr/>
			<h4>Published Videos</h4>
			<ul class="published list">
				{{#each videos.published}}
				<li>
					<a href="/video/{{this.objectId}}">
						<p class="title">{{this.title}}</p>
						<p class="subtitle">{{this.subtitle}}</p>
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="grid-c-3-10">
		<div class="wrapper">
			<hr/>
			<h4>Drafts</h4>
			<ul class="drafts list">
				{{#each videos.drafts}}
				<li>
					<a href="/video/{{this.objectId}}">
						<p class="title">{{this.title}}</p>
					</a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</div>
{{else}}
	{{#if videos.published}}
	<hr/>
	<h4>Videos</h4>
	<ul class="published list">
		{{#each videos.published}}
		<li>
			<a href="/video/{{this.objectId}}">
				<p class="title">{{this.title}}</p>
				<p class="subtitle">{{this.subtitle}}</p>
			</a>
		</li>
		{{/each}}
	</ul>
	{{else}}
	<div class="notice">
		<p>{{user.username}} has no videos.</p>
		<p>See <a href="/discoveries">discoveries</a> from another prometheus.</p>
	</div>
	{{/if}}
{{/if}}