<div class="head">
	<div class="cover"></div>

	<div class="tool">
		<a class="tool-edit" href="/video/2/update">
			<i class="icon-cog"></i>
		</a>
	</div>

	<div class="head-contents sans-serif">
		<div class="container">
			<h1 class="title">{{title}}</h1>
			<p class="subtitle">{{subtitle}}</p>
			<a class="author" href="/user/112">
				<img class="avatar" src="/images/avatar.jpg" alt="avatar">
				<span class="name">아만다 사이프리드</span>
			</a>
		</div>
	</div>
</div>

<div class="contents">
	
	<div class="player">
		<div class="container">
			<div class="video"></div>
		</div>
	</div>

	<div class="timeline-contents">
		<div class="container">
			<ul>
			{{#each contents}}
				<li class="item" data-seq="{{@index}}">
					<div class="clock">{{this.hhmmss}}</div>
					<button class="anker"></button>
					<div class="script serif">
						<h3>{{this.script.title}}</h3>
						{{#each this.script.texts}}
							{{#if this.tag}}
								<{{this.tag}} {{#if this.src}}src="{{this.src}}"{{/if}} >{{this.text}}</{{this.tag}}>
							{{else}}
								<p>{{this.text}}</p>
							{{/if}}
						{{/each}}
					</div>
					<button class="comments-link">{{this.comments.length}}</button>
					<div class="comments">
						<hr/>
						<ul>
							{{#each this.comments}}
								<li class="comment">
									<a class="author" href="/user/{{this.author.id}}">
										<img class="avatar" src="{{this.author.avatar}}" alt="avatar">
										<span class="name">{{this.author.name}}</span>
									</a>
									<p class="note">{{this.comment}}</p>
									<div class="date">{{this.date}}</div>
								</li>
							{{/each}}
						</ul>
						<button class="reply button">
							<i class="icon-plus"></i>
							<span>Reply</span>
						</button>
						<div class="reply-form">
							<div class="input" data-placeholder="Leave a comment"></div>
						</div>
					</div>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	<div class="widget">
		<div class="container">
			<div class="widget-counter">
				<a class="view">
					<i class="icon-eye"></i>
					<span>{{view}}</span>
				</a>
				<a class="like">
					<i class="icon-thumbs-up"></i>
					<span>{{like}}</span>
				</a>
			</div>
			<div class="widget-share">
				<ul>
					<li>
						<a>
							<i class="icon-gplus-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-facebook-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
