<li class="item" data-time="{{this.hhmmss}}" data-id="{{this.objectId}}" style="left: {{this.position}}%;">
	{{!-- <div class="time">{{this.hhmmss}}</div> --}}
	<div class="pointer" data-title="{{this.hhmmss}} / {{this.script}}"></div>
	<div class="summary">{{this.hhmmss}} / {{this.script}}</div>
</li>
