<div class="head">
	<div class="tool">
		<a class="edit-tool-done" href="/video/{{objectId}}">
				<i class="icon-ok"></i>
		</a>
		<a class="edit-tool-cancel" href="/video/{{objectId}}">
				<i class="icon-cancel"></i>
		</a>
		<a class="edit-tool-delete" href="/">
				<i class="icon-trash"></i>
		</a>

	</div>

	<div class="headline sans-serif">
		<div class="container">
			<h1 class="title input">{{title}}</h1>
			<p class="subtitle input">{{subtitle}}</p>
		</div>
	</div>
</div>

<div class="contents">
	
	<div class="player">
		<div class="container">
			<div class="video"></div>
		</div>
	</div>

	<div class="timeline-contents">
		<div class="container">
			<ul class="scripts">
			{{#each contents}}
				<li class="item" data-seq="{{@index}}">
					<div class="clock">{{this.hhmmss}}</div>
					<button class="anker"></button>
					<div class="script">
						<h5 class="sans-serif">{{this.script}}</h5>
					</div>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
</div>