<li class="item" id="{{this.objectId}}" data-time="{{this.time}}">
	<div class="clock">{{this.hhmmss}}</div>
	<button class="anker"></button>
	<div class="script">
		<p class="sans-serif editable" data-attr="script" data-id="{{this.objectId}}">{{this.script}}</p>
	</div>
	<button class="comments-link" data-id="{{this.objectId}}">
		{{#if this.comments}}
			<span class="count">{{this.comments.length}}</span>
		{{else}}
			<span class="count">0</span>
		{{/if}}
		<i class="icon-times"></i>
	</button>
	<div class="edit-tool script-delete" data-edit="script">
		<button class="edit-tool-delete">
			<i class="icon-minus-circle"></i>
		</button>
	</div>
</li>
