<div class="head">
	<div class="tool">
		<a class="tool-edit" href="/video/{{objectId}}/update">
			<i class="icon-cog"></i>
		</a>
	</div>

	<div class="headline sans-serif">
		<div class="container">
			<h1 class="title">{{title}}</h1>
			<p class="subtitle">{{subtitle}}</p>
			<a class="author" href="/user/{{author.id}}">
				<img class="avatar" src="{{author.avatar._url}}" alt="avatar">
				<span class="name">{{author.name}}</span>
			</a>
		</div>
	</div>
</div>

<div class="contents">
	
	<div class="player">
		<div class="container">
			<div class="video"></div>
		</div>
	</div>

	<div class="timeline-contents">
		<div class="container">
			<ul class="scripts">
			{{#each contents}}
				<li class="item" data-seq="{{@index}}">
					<div class="clock">{{this.hhmmss}}</div>
					<button class="anker"></button>
					<div class="script">
						<h5 class="sans-serif">{{this.script}}</h5>
					</div>
					<button class="comments-link">
						<span class="count">{{this.comments.length}}</span>
						<i class="icon-cancel"></i>
					</button>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>

	<div class="widget">
		<div class="container">
			<div class="widget-counter">
				<span class="like">
					<i class="icon-thumbs-up"></i>
					<span>{{like}}</span>
				</span>
			</div>
			<div class="widget-share">
				<ul>
					<li>
						<a>
							<i class="icon-gplus-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-facebook-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="script-comments-bundle">
		<div class="container">
			{{#each contents}}
				<div class="item">
					<div class="comments-wrapper">
						<ul class="comments">
							{{#each this.comments}}
								<li class="comment">
									<a class="author" href="/user/{{this.author.id}}">
										<img class="avatar" src="{{this.author.avatar._url}}" alt="avatar">
										<span class="name">{{this.author.name}}</span>
									</a>
									<p class="note">{{this.comment}}</p>
									<div class="date">{{this.date}}</div>
								</li>
							{{/each}}
						</ul>
						<button class="reply button">
							<i class="icon-plus"></i>
							<span>Reply</span>
						</button>
						<div class="reply-form">
							<div class="input" data-placeholder="Leave a comment"></div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="close"></div>
	</div>
</div>

<div class="relate">
	<div class="container">
		<h4>RELATED VIDEO</h4>
	</div>
	<div class="headline sans-serif">
		<div class="container">
			<a href="/video/{{relate.id}}">
				<h1 class="title">{{relate.title}}</h1>
				<p class="subtitle">{{relate.subtitle}}</p>
			</a>
			<a class="author" href="/user/{{relate.author.id}}">
				<img class="avatar" src="{{relate.author.avatar._url}}" alt="avatar">
				<span class="name">{{relate.author.name}}</span>
			</a>
		</div>
	</div>
</div>