<div class="head">
	<div class="tool article-edit">
		<a class="button tool-edit" href="/video/{{objectId}}/update">Edit</a>
	</div>
	<div class="tool edit-tool" data-edit="article">
		<button class="button edit-tool-save">Save</button>
		<button class="button edit-tool-publish">Publish</button>
		<button class="button edit-tool-delete">Delete</button>
	</div>

	<div class="headline sans-serif">
		<div class="container">
			<div class="edit-tool" data-edit="cover">
				<button class="button upload">Add Cover Image</button>
				<button class="button delete">Remove Cover Image</button>
			</div>
			<p class="title">{{title}}</p>
			<p class="subtitle">{{subtitle}}</p>
			<a class="author" href="/user/{{author.id}}">
				<img class="avatar" src="{{author.avatar._url}}" alt="avatar">
				<span class="name">{{author.name}}</span>
			</a>
		</div>
	</div>
</div>

<div class="contents">
	
	<div class="player">
		<div class="container">
			<div class="edit-tool" data-edit="video">
				<button class="button upload">Add Video</button>
				<button class="button delete">Remove Video</button>
			</div>
			<div class="video-wrapper">
				<div class="video"></div>
			</div>
			<div class="timeline-wrapper"></div>
		</div>
	</div>

	<div class="timeline-contents">
		<div class="container">
			<div class="scripts-wrapper"></div>
		</div>
	</div>

	<div class="widget">
		<div class="container">
			<div class="widget-counter">
				<span class="like">
					<i class="icon-thumbs-up"></i>
					<span>{{like}}</span>
				</span>
			</div>
			<div class="widget-share">
				<ul>
					<li>
						<a>
							<i class="icon-gplus-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-facebook-squared"></i>
						</a>
					</li>
					<li>
						<a>
							<i class="icon-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="script-comments-bundle">
		<div class="container">
			{{#each contents}}
				<div class="item">
					<div class="comments-wrapper">
						<ul class="comments">
							{{#each this.comments}}
								<li class="comment">
									<a class="author" href="/user/{{this.author.id}}">
										<img class="avatar" src="{{this.author.avatar._url}}" alt="avatar">
										<span class="name">{{this.author.name}}</span>
									</a>
									<p class="note">{{this.comment}}</p>
									<div class="date">{{this.date}}</div>
								</li>
							{{/each}}
						</ul>
						<button class="reply button">
							<i class="icon-plus"></i>
							<span>Reply</span>
						</button>
						<div class="reply-form">
							<div class="input" data-placeholder="Leave a comment"></div>
						</div>
					</div>
				</div>
			{{/each}}
		</div>
		<div class="close"></div>
	</div>
</div>

<div class="relate">
	<div class="container">
		<h4>RELATED VIDEO</h4>
	</div>
	<div class="headline sans-serif">
		<div class="container">
			<a href="/video/{{relate.id}}">
				<p class="title">{{relate.title}}</p>
				<p class="subtitle">{{relate.subtitle}}</p>
			</a>
			<a class="author" href="/user/{{relate.author.id}}">
				<img class="avatar" src="{{relate.author.avatar._url}}" alt="avatar">
				<span class="name">{{relate.author.name}}</span>
			</a>
		</div>
	</div>
</div>